

@import "../../global.scss";

.contact {
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 70px);
    width: 100vw;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        width: 150px;
        height: 80px;
        border-radius: 140px;
        color: crimson;
        background-color: #010101bd;
        border: none;
      
      
        cursor: pointer;
        
        position: relative;
        
        &:focus {
          outline: none;
        }

        .send{
          position: absolute;
         
          font-size: 30px;
         left: 60px;
         bottom: 5px;
      
        }
        h3{
          margin-bottom: 15px;
          font-weight: 500;
          font-size: 20px;
          color:white;
        }
      }

      span {
        color: green;
      }
    }

    .social{
      display: flex;
      flex-direction: row;
      gap: 40px;
      margin-top: 30px;
    }

    .logo{
      height: 55px;
      width: 55px;
      background-color: #1a1a1ae0;
     
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .logoStyle{
       font-size: 35px;
       color: crimson;

      }
    }
  }
}


.btn {
  padding: .7rem 3rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btn i {
  padding: 0 .5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background: var(--yellow);
}
